.sidebar {
  border-radius: 15px;
  width: 250px;
  background-color: black;
  color: white;
  padding: 15px;
  height: 80vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 1.1em;
  padding: 10px 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.sidebar ul li a:hover {
  transform: translateY(-5px);
  color: white;
  background-color: #4CAF50;
  border-radius: 5px;
}